@font-face {
  font-family: "Gelion Regular";
  src: url("../fonts/Gelion-Regular.eot");
  src:
    url("../fonts/Gelion-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gelion-Regular.woff2") format("woff2"),
    url("../fonts/Gelion-Regular.woff") format("woff"),
    url("../fonts/Gelion-Regular.ttf") format("truetype"),
    url("../fonts/Gelion-Regular.svg#Gelion-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0 0 119px;
  margin: 0;
  font-family: "Gelion Regular", sans-serif;
  font-size: 16px;

  @include breakpoint(sm) {
    padding: 0; 
  }
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.read-more-toggle,
.read-less-toggle {
  color: $pink;
  font-size: 15px;
  cursor: pointer;
}

.desktop {
  display:  none;
  @include breakpoint(sm) {
    display: block;
  }
}

.mobile {
  display:  block;
  @include breakpoint(sm) {
    display: none;
  }
}