@import '../styles/main.scss';

.footer {
  margin-top: 60px;

  &__top {
    height: 200px;
    border-top: 1px solid $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .podcast-img {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 20px 0;
    }
  }

  &__bottom {
    background: $dark-grey;
    color: $white;
    font-size: 13px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;

    @media only screen and (min-width: 768px) {
      padding: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    &-logo {
      img {
        margin: 0 auto;
        padding: 0;
      }
    }
  }

  &__social {
    display: block;

    @media only screen and (min-width: 768px) {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li {
      display: inline-flex;
      margin: 0 5px;
    }

    a {
      color: $dark-grey;

      &:hover {
        color: $pink;
      }
    }
  }

  a {
    color: $white;
    font-size: 13px;
    text-decoration: none;

    &:hover {
      color: $pink;
      text-decoration: none;
    }
  }

  &-logo {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      margin: 0 auto;
      padding: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      margin-right: 20px;
    }
  }
}