@import '../styles/main.scss';

header {
  height: 50px;
  border-bottom: 1px solid $grey;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  background: $white; 

  .wrapper {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 50px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    position: relative;
  }

  .nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li {
      display: inline-flex;
      margin: 0 5px;
    }

    a {
      color: $dark-grey;
    }
  }
}