@import '../styles/main.scss';

.homepage {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-image: url(../images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  header {
    border-bottom: 0px !important;

    .container{
      justify-content: center;
    }

    .nav-logo,
    .social {
      display: none;
    }
  }

  h1 {
    padding: 0;
    margin: 0;
  }

  .subtitle {
    font-family: "Gelion Regular", sans-serif;
  }

  .logo {
    margin: 100px auto 30px;
    display: block;
  }

  p {
    font-size: 21px;
    text-align: center;
    color: $dark-grey;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-flex;
      margin: 0 10px;
    }

    a {
      color: $black;
    }
  }

  .footer{
    display: none;
  }
}

.episodes {

  h1 {
    padding: 0;
    margin: 60px 0;
    text-align: center;
  }

}

.contact {

  h1 {
    padding: 0;
    margin: 60px 0;
    text-align: center;
  }

}

.about {

  h1 {
    padding: 0;
    margin: 60px 0;
    text-align: center;
  }

}