@import '../styles/main.scss';

nav {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba($black, 0.9) !important;
  right: 0;
  top: 0;
  bottom: 0;

  &.hide {
    display: none;
  }

  &.show{
    display: flex;
  }
  
  @media only screen and (min-width: 768px) {
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    background-color: transparent !important;
    position: relative;
    width: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: block;
    padding: 20px;
    text-align: center;
    @media only screen and (min-width: 768px) {
    display: inline-flex;
    margin: 0 20px;
    padding: 0;
    }
  }

  a {
    text-decoration: none;
    font-family: "Gelion Regular", sans-serif;
    color: $white;
    font-size:  30px;

    @media only screen and (min-width: 768px) {
    text-decoration: none;
    font-family: "Gelion Regular", sans-serif;
    color: $dark-grey;
    font-size: 16px;
    }

    &.active,
    &:hover {
      color: $white;
      font-size:  30px;
      @media only screen and (min-width: 768px) {
      color: $pink;
      border-top:3px solid $pink;
      padding: 14px 0;
      font-size: 16px;
      }
    }
  }

  .burger {
    color: $black !important;
    font-size: 30px;
    position: fixed;
    top: 10px;
    right: 30px;
    display: block;
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .close {
    color: $white !important;
    font-size: 30px;
    position: fixed;
    top: 10px;
    right: 30px;
    display: block;
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}